@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KeepPass</h1>
    <p>KeepPass is an application for storing your passwords. You do not need to remembrer lengthy passwords. </p>
</div>
